<!-- app/templates/home/index.html -->

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}
<br>
<br>

<main role="main" class="container-fluid home-bg">
    <br>
    <br>
    <div class="row col-md-12">
        <div class="col-md-2"></div>

        <div class="col-md-8 weconnect-div">
            <p class="home-title">WeConnect</p>
            <p class="home-body">
                <br> Welcome to WeConnect!
                <br>
                <br> WeConnect brings businesses
                <br> and users together, and allows
                <br> users to review businesses.
            </p>
        </div>

        <div class="col-md-2"></div>
    </div>
</main>
<br>
<br> {% endblock %}